@page "/appointment"

<!-- Appointment Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="bg-secondary p-5">
                    <h1 class="text-uppercase mb-4">Schedule an Appointment!</h1>
                    <p>Here there will be an embed for a google appointment scheduler.</p>
                    </div>
            </div>
  
        </div>
    </div>
</div>
<!-- Appointment End -->
@code {

}
